@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #848484;
	font: 100%/1.4 sans-serif;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #43D5FC;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #D23234;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #888888;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}